<div id='diffs-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='diffsModal' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <div class='row'>
          <div class='col-lg-1'>
            <a {{bind-attr href='currentPR.user.url'}} target='_blank'>
              <img {{bind-attr src='currentPR.user.avatar' alt='currentPR.user.nickname'}} class='img-circle' height='60px' width='60px' />
            </a>
          </div>
          <div class='col-lg-11'>
            <h4 class='modal-title'><a {{bind-attr href='currentPR.url'}} target='_blank'>{{currentPR.title}}</a></h4>
            <h5 class='modal-subtitle'><a {{bind-attr href='currentPR.repository.url'}} target='_blank'>{{currentPR.repository.full_name}}</a></h5>
          </div>
        </div>
      </div>
      <div class='modal-body'>
        <div class='row'>
          <div class='col-lg-9 col-md-8 col-sm-12 col-xs-12'>
            <pre>
              <code id='diff-code'>
                {{currentDiff}}
              </code>
            </pre>
          </div>
          <div id='pr-comments' class='col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right'>
            {{#unless currentPR.mergeable}}
              <div class='row'>
                  <div class="alert alert-danger">
                      <p><strong>Oops!</strong> It seems like this pull request can't be automatically merged.</p>
                  </div>
              </div>
            {{/unless}}
            {{#each comment in currentPR.comments}}
              <div class='row comment well well-sm'>
                <div class='col-lg-2 hidden-xs hidden-sm'>
                  <a {{bind-attr href='comment.user_url'}} target='_blank'>
                    <img {{bind-attr src='comment.avatar' alt='comment.username'}} class='img-circle' height='40px' width='40px' />
                  </a>
                </div>
                <div class='col-lg-10'>
                  <p>
                    {{comment.body}}
                    <em>&horbar; by</em>
                    <a {{bind-attr href='comment.user_url'}} target='_blank'>{{comment.username}}</a>
                  </p>
                </div>
              </div>
            {{/each}}
            <div class='row comment well well-sm'>
              <div id='new-comment' class='col-lg-9'>
                {{textarea valueBinding='newComment'}}
              </div>
              <div class='col-lg-3'>
                <button type='button' class='btn btn-success'  {{action 'newComment' currentPR}}><span class='glyphicon glyphicon-comment'/></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' {{action 'closePR' currentPR}}><span class='glyphicon glyphicon-trash'></span> Close PR</button>
        <button type='button' class='btn btn-warning' {{bind-attr disabled='notMergeable'}} {{action 'mergePR' currentPR}}><span class='glyphicon glyphicon-flash'></span> Merge</button>
        <button type='button' class='btn btn-success' {{action 'lgtmPR' currentPR 'LGTM :shipit:'}}><span class='glyphicon glyphicon-thumbs-up'></span> LGTM</button>
        <a {{bind-attr href='currentPR.files_url'}} class='btn btn-primary' target='_blank'><span class='glyphicon glyphicon-file'></span> Go to files</a>
      </div>
    </div>
  </div>
</div>

