<div id='diffs-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='diffsModal' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <div class='row'>
          <div class='col-lg-1'>
            <a {{bind-attr href='currentPR.user.url'}} target='_blank'>
              <img {{bind-attr src='currentPR.user.avatar' alt='currentPR.user.nickname'}} class='img-circle' height='60px' width='60px' />
            </a>
          </div>
          <div class='col-lg-11'>
            <h4 class='modal-title'><a {{bind-attr href='currentPR.url'}} target='_blank'>{{currentPR.title}}</a></h4>
          </div>
        </div>
      </div>
      <div class='modal-body'>
        <div class='row'>
          <div class='col-lg-8'>
            <pre>
              <code id='diff-code'>
                {{currentDiff}}
              </code>
            </pre>
          </div>
          <div id='pr-comments' class='col-lg-4'>
            {{#each comment in currentPR.comments}}
            <div class='row comment well well-sm'>
              <div class='col-lg-2'>
                <a {{bind-attr href='comment.user_url'}} target='_blank'>
                  <img {{bind-attr src='comment.avatar' alt='comment.username'}} class='img-circle' height='40px' width='40px' />
                </a>
              </div>
              <div class='col-lg-10'>
                <p>
                  {{comment.body}}
                  <em>&horbar; by</em>
                  <a {{bind-attr href='comment.user_url'}} target='_blank'>{{comment.username}}</a>
                </p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <a {{bind-attr href='currentPR.files_url'}} class='btn btn-primary' target='_blank'><span class='glyphicon glyphicon-file'></span> Go to files</a>
        <button type='button' class='btn btn-success' {{action 'commentPR' currentPR 'LGTM :shipit:'}}><span class='glyphicon glyphicon-thumbs-up'></span> LGTM</button>
      </div>
    </div>
  </div>
</div>

