<div class='type-filters'>
  <div class='buttons' data-toggle='buttons'>
    <label class='btn private-filter active' {{action 'applyFilter' 'private'}}>
      <input type='radio'>
      <span class='icon'></span> Private 
      <span class='badge'>{{privateCount}}</span>
    </label>
    <label class='btn public-filter' {{action 'applyFilter' 'public'}}>
      <input type='radio'>
      <span class='icon'></span> Public 
      <span class='badge'>{{publicCount}}</span>
    </label>
    <label class='btn all-filter' {{action 'applyFilter' 'all'}}>
      <input type='radio'>
      <span class='icon'></span> All 
      <span class='badge'>{{allCount}}</span>
    </label>
  </div>
</div>

