<div id='filters' class='col-lg-6 col-md-5 col-sm-12 col-xs-12'>
  <div class='btn-group pull-right' data-toggle='buttons'>
    <label class='btn btn-primary active' {{action 'applyFilter' 'private'}}>
      <input type='radio'>
      <span class='glyphicon glyphicon-lock'></span> Private ({{privateCount}})
    </label>
    <label class='btn btn-primary' {{action 'applyFilter' 'public'}}>
      <input type='radio'>
      <span class='glyphicon glyphicon-user'></span> Public ({{publicCount}})
    </label>
    <label class='btn btn-primary' {{action 'applyFilter' 'all'}}>
      <input type='radio'>
      <span class='glyphicon glyphicon-asterisk'></span> All ({{allCount}})
    </label>
  </div>
</div>

