<div class='row'>
  <div class='col-lg-12'>
    {{#if isLoading}}
      Loading...
    {{else}}
      <table id='pulls-table' class='table table-striped'>
        <thead>
          <th>Author</th>
          <th>Title</th>
          <th>Repo</th>
          <th>Comments</th>
          <th><a href='#' {{action 'sort'}}>Created At</a></th>
          <th>Actions</th>
        </thead>
        <tbody>
          {{#each}}
          <tr>
              <td>
                <a {{bind-attr href='user.url'}} target='_blank'>
                  <img {{bind-attr src='user.avatar' alt='user.nickname'}} class='img-circle' height='80px' width='80px' />
                </a>
              </td>
              <td>
                <a {{bind-attr href='url'}} target='_blank'>{{title}}</a>
              </td>
              <td>
                <a {{bind-attr href='repository.url'}} target='_blank'>{{repository.full_name}}</a>
              </td>
              <td>
                {{comments_count}}
              </td>
              <td>
                {{friendlyDate created_at}}
              </td>
              <td>
                <button class='btn btn-info' {{action 'showDiff' this}}><span class='glyphicon glyphicon-eye-open'></span> Review</button>
              </td>
            </tr>
          {{else}}
            <tr>
              <td class='center' colspan='5'>No Pull Requests to show.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>

