<div class='row'>
  <div class='col-lg-4'>
    {{view Em.Select content=orgs valueBinding='org' optionValuePath='content.name' optionLabelPath='content.name' class='form-control'}}
  </div>
  <div class='col-lg-4 col-lg-offset-1'>
    <div class='btn-group' data-toggle='buttons'>
      <label class='btn btn-primary active' {{action 'doSomething'}}>
        <input type='radio'>
        <span class='glyphicon glyphicon-asterisk'></span> All
      </label>
      <label class='btn btn-primary'>
        <input type='radio' name='options' id='option2'> 
        <span class='glyphicon glyphicon-lock'></span> Private
      </label>
      <label class='btn btn-primary'>
        <input type='radio' name='options' id='option3'>
        <span class='glyphicon glyphicon-user'></span> Public
      </label>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <h3>Opened Pull Requests</h3>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    {{#if isLoading}}
      Loading...
    {{else}}
      <table id='pulls-table' class='table table-striped'>
        <thead>
          <th>Author</th>
          <th>Title</th>
          <th>Repo</th>
          <th>Comments</th>
          <th>Created At</th>
        </thead>
        <tbody>
          {{#each}}
            <tr>
              <td>
                <a {{bind-attr href='user.url'}}>
                  <img {{bind-attr src='user.avatar' alt='user.nickname'}} class='img-circle' height='80px' width='80px' />
                </a>
              </td>
              <td>
                <a {{bind-attr href='url'}}>{{title}}</a>
              </td>
              <td>
                <a {{bind-attr href='repository.url'}}>{{repository.full_name}}</a>
              </td>
              <td>
                {{comments_count}}
              </td>
              <td>
                {{friendlyDate created_at}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td class='center' colspan='5'>No Pull Requests to show.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>

