!!!
%html
  %head
    %title PR Dashboard
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = javascript_include_tag 'ember_application', media: 'all'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  %body
    = render 'shared/header'

    .container
      = yield

    = render 'shared/footer'
