!!!
%html
  %head
    %title PR Dashboard
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = javascript_include_tag 'ember_application', media: 'all'
    = csrf_meta_tags
  %body
    = render 'shared/header'

    .container
      = yield

